.com-wechat-confirm-win{
  background-color: white;
  width: 80vw;
  padding: .6rem .3rem;
  text-align: center;
  border-radius: 0.1rem;

  .row{
      margin: 0.15rem 0;
  }

  .has-finish{
      color: red;
  }
  .has-problem{
      color: grey;
  }

}